##Imputasi

Teknik Inputasi adalah mengganti nilai atau data yang hilang

##1. Mean

In [ ]:
import pandas as pd
import numpy as np

kolom = {'col1':[2,9,19],
         'col2':[3,np.nan,np.nan],
         'col3':[4,np.nan,18],
         'col4':[5,15,np.nan],
         'col5':[7,np.nan, 24]}

data = pd.DataFrame(kolom)

In [ ]:
data

   col1  col2  col3  col4  col5
0     2   3.0   4.0   5.0   7.0
1     9   NaN   NaN  15.0   NaN
2    19   NaN  18.0   NaN  24.0

In [ ]:
data.fillna(data.mean())

   col1  col2  col3  col4  col5
0     2   3.0   4.0   5.0   7.0
1     9   3.0  11.0  15.0  15.5
2    19   3.0  18.0  10.0  24.0

##2. Imputasi nilai suka - suka

In [ ]:
import pandas as pd
import numpy as np

data = {'umur':[19, 24, 20, np.nan, 17, 20, 25, np.nan, 29]}

data = pd.DataFrame(umur)

data

   umur
0  19.0
1  24.0
2  20.0
3   NaN
4  17.0
5  20.0
6  25.0
7   NaN
8  29.0

In [ ]:
data.fillna(99)

   umur
0  19.0
1  24.0
2  20.0
3  99.0
4  17.0
5  20.0
6  25.0
7  99.0
8  29.0

##3. Imputasi End of Tail

In [ ]:
import pandas as pd
import numpy as np

data = {'umur':[19, 24, 20, np.nan, 17, 20, 25, np.nan, 29]}

data = pd.DataFrame(umur)

data

   umur
0  19.0
1  24.0
2  20.0
3   NaN
4  17.0
5  20.0
6  25.0
7   NaN
8  29.0

In [ ]:
pip install feature-engine

Collecting feature-engine
  Downloading feature_engine-1.2.0-py2.py3-none-any.whl (205 kB)
     |████████████████████████████████| 205 kB 22.8 MB/s
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.4.1)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.3.5)
Collecting statsmodels>=0.11.1
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 37.1 MB/s
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)
Installing collected packages: statsmodels, feature-engine
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed feature-engine-1.2.0 statsmodels-0.13.2

In [ ]:
!pip install feature-engine

Requirement already satisfied: feature-engine in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.4.1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (0.13.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.21.5)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)

In [ ]:
#import EndTailImputer terlebih dahulu
from feature_engine.imputation import EndTailImputer

#buat imputer
imputer = EndTailImputer(imputation_method ='gaussian', tail='right')


#fit-kan imputer ke set
imputer.fit(data)

#ubah data
test_data = imputer.transform(data)

#memanggil data
test_data

        umur
0  19.000000
1  24.000000
2  20.000000
3  34.489996
4  17.000000
5  20.000000
6  25.000000
7  34.489996
8  29.000000

In [ ]:
#import EndTailImputer terlebih dahulu
from feature_engine.imputation import EndTailImputer

#buat imputer
imputer = EndTailImputer(imputation_method ='gaussian', tail='left')


#fit-kan imputer ke set
imputer.fit(data)

#ubah data
test_data = imputer.transform(data)

#memanggil data
test_data

        umur
0  19.000000
1  24.000000
2  20.000000
3   9.510004
4  17.000000
5  20.000000
6  25.000000
7   9.510004
8  29.000000

4. Kategori --> menggunkan imputasi modus

##4. Imputasi Frequent Category/Modus

In [ ]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np


mobil = {'merk':['ford', 'ford', 'toyota', np.nan, 'honda', 'yotota', 'ford', np.nan, 'ford', np.nan, 'honda', 'toyota', 'ford']}

data = pd.DataFrame(mobil)

data

      merk
0     ford
1     ford
2   toyota
3      NaN
4    honda
5   yotota
6     ford
7      NaN
8     ford
9      NaN
10   honda
11  toyota
12    ford

In [ ]:
imp = SimpleImputer(strategy = 'most_frequent')
imp.fit_transform(data)

array([['ford'],
       ['ford'],
       ['toyota'],
       ['ford'],
       ['honda'],
       ['yotota'],
       ['ford'],
       ['ford'],
       ['ford'],
       ['ford'],
       ['honda'],
       ['toyota'],
       ['ford']], dtype=object)

In [ ]:
data

      merk
0     ford
1     ford
2   toyota
3      NaN
4    honda
5   yotota
6     ford
7      NaN
8     ford
9      NaN
10   honda
11  toyota
12    ford

##5. Imputasi Random Sample

In [15]:
#import Random Sample
from feature_engine.imputation import RandomSampleImputer

#Membuat Data
data = {'Jenis Kelamin':['Laki Laki', 'Perempuan', np.nan, 'Perempuan', 'Laki Laki', np.nan, 'Laki Laki', 'Perempuan', 'Laki Laki', np.nan],
        'Umur':[30, 24, 34, np.nan, 28, np.nan, 24, 37, np.nan, 22]}

df = pd.DataFrame(data)

df

ModuleNotFoundError: ignored

In [10]:
#buat imputer
imp = RondomSampleImpute(rondom_state = 29)

#fit-kandata
imp.fit(df)

#Mengubah data
testing_df = imp.transform(df)

#Menampilkan data yang diubah
testing_df

NameError: ignored